body {
  min-height: 100vh;
}
/* Sign.css */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.bg-yellow-500 {
  background-color: #FFFF00;
}

.w-64 {
  width: 64px;
  height: 64px;
}

.h-64 {
  height: 64px;
}

.rounded {
  border-radius: 50%;
}

.shadow-lg {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.object-cover {
  object-fit: cover;
}
