.banner {
    /* padding: 96px 32px; */
    padding-top: 120px;
    padding-bottom: 70px;
}

@media (max-width: 734px) {
    .banner {
        padding-bottom: 15px;
    }
}

.banner h1 {
    color:  #F9FAFB;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.2px;
}

.banner .profileImg {
    position: relative;
    width: auto;
    max-height: 320px;
    z-index: 999;
}

.banner .profileImg::before {
    content: '';
    position: absolute;
    border: 8px solid  #030712;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 15%;
    left: 15%;
    background:  #374151 !important;
}

.banner .other-info p {
    margin-bottom: 0;
}

.banner .item {
    display: flex;
    align-items: center;
    position: relative;
}

.banner .item span {
    padding-left: 10px;
}

.banner .item .point {
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.banner .item .point .ball {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #10B981;
}


/* Light mode configuration */
.isLightMode .banner {
    background-color: #fff !important;
    color: #4B5563 !important;
}

.isLightMode .banner h1 {
    color: #111827;
}

.isLightMode .banner p, .isLightMode .banner span {
    color: #111827;
}

.isLightMode .description-content img {
    filter: brightness(40%) !important;
}